#example for your own .env

DATABASE_URL=postgresql://default_user:default_pass@db:5432/recipebox # CHANGE THESE DEFAULTS
SECRET_KEY=changeme #not needed yet as I havent implemented sessions
FLASK_ENV=development #set to "production" if you are not tweaking this site
POSTGRES_DB= recipebox