{% extends 'layout.html' %}

{% block content %}

<header> 
  <h1 class=" mt-8 mb-8 text-6xl font-mono text-center"> Add a New Recipe</h1>
</header>

<div class="divider divider-primary w-10/12 mx-auto mt-8"></div>
  
<div class="flex flex-col min-h-screen align-center">

  <form action="{{ url_for('newrecipe') }}" method="post">

    <div class="flex flex-row gap-1 justify-center">
      <fieldset class="fieldset mb-2 w-9/12 md:w-1/4">
        <legend class="fieldset-legend font-mono text-xl text-center">Name</legend>
        <input name="recipe_name" required type="text" class="input input-lg input-primary w-full text-lg font-mono"
         placeholder="ex: Grand-pappy's Rhubarb Pie"
         value="{{ recipes_table[0][1] if recipes_table else '' }}">
      </fieldset>
    </div>

    <div class="divider divider-accent w-10/12 md:w-8/12 mx-auto"></div>


    <div class="flex flex-col md:flex-row gap-2 justify-center w-8/12 mx-auto"> <!-- main form-->

      <fieldset class="fieldset flex-1 md:ml-2 overflow-visible">
        <legend class="fieldset-legend font-mono text-2xl">ingredients</legend>

        <div id="ingredient-col" class="flex flex-col">
          <div class="flex flex-row gap-1 items-center relative">
            <button class="btn btn-ghost md:btn-xs align-center absolute -left-11 md:-left-6" id="removeIngredient" onclick="this.parentElement.remove()">&times;</button>
            <input type="text" required name="ingredient_name" class=" input input-lg input-accent w-full text-lg font-mono">
            <input placeholder="Qty." type="number" name="ingredient_qty" class="input validator input-lg input-accent text-lg font-mono w-1/4">         
          </div>
          <button id="add-new-btn" type="button" class="btn btn-neutral mt-3 mb-3">Add New</button>
        </div> 
      </fieldset>

      <div class=" hidden md:flex divider divider-horizontal divider-accent"></div>

      <fieldset class="fieldset flex-1 md:mr-2">
        <legend class="fieldset-legend font-mono text-2xl">Instructions</legend>
        <textarea name="instructions" 
          class="textarea textarea-accent h-70 w-full text-lg font-mono"
          placeholder="eg: 1. Heat oven to 350º"
          value="{{ recipes_table if recipes_table else '' }}"></textarea>
        <div class="label">Optional</div>
      </fieldset>
    </div>

  <div class="flex justify-center">
    <div class="flex divider divider-accent w-10/12 md:w-8/12"></div>
  </div>

  <div class="flex flex-row justify-center">
    <button type="submit" class="btn btn-lg btn-primary">Submit</button>
  </div>

  </form>
</div>
<script src="{{ url_for('static', filename= 'js/add_ingredient.js') }}"></script>
{% endblock content %}
