{% extends 'layout.html' %}

{% block content %}

<div class="text-lg breadcrumbs mx-10">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="">Edit</a></li>
  </ul>
</div>

<header> 
  <h1 class=" mt-5 mb-8 text-5xl md:text-7xl font-bold text-center">Edit a Recipe</h1>
</header>

<div class="divider divider-primary w-10/12 mx-auto mt-8"></div>


<div class="flex justify-center">
  <div class="card card-border bg-base-300 w-1/2">
    <div class="card-body">

      {% for name, recipe_id in recipes %}

        <form class="flex justify-center" action="{{ url_for('edit') }}" method="post">
              <input type="hidden" name="recipe_id" value="{{recipe_id}}">
              <button type="submit">
                <p class="mt-10 mb-10 text-3xl font-mono text-center">{{name}}</p>
              </button>    
        </form>

      {% endfor %}

    </div>
  </div>
</div>
{% endblock content %}