{% extends 'layout.html' %} 

{% block content %}

<div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Oops.. Something Went Wrong</h1>
      <h2> - delete error - </h2>
      <p class="py-6">We werent able to delete the recipe you requested... :&lpar; </p>
      <p class="py-6">Maybe try again?</p>
      <a href="/">
        <button class="btn btn-primary">Home</button>
      </a>
      
    </div>
  </div>
</div>



{% endblock content %}