{% extends 'layout.html' %}

{% block content %}
  <div class="flex flex-col min-h-screen">
      <div class=" flex justify-between mt-8">

         <div class="flex-1"></div>

         <div>
            <h1 class="text-6xl font-mono flex-1 text-center">Recipe Bowl</h1>
         </div>

         <div class="flex-1 text-right mr-10 align-middle">
            <a href="settings">
               <button type="button" >
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                     <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75a4.5 4.5 0 0 1-4.884 4.484c-1.076-.091-2.264.071-2.95.904l-7.152 8.684a2.548 2.548 0 1 1-3.586-3.586l8.684-7.152c.833-.686.995-1.874.904-2.95a4.5 4.5 0 0 1 6.336-4.486l-3.276 3.276a3.004 3.004 0 0 0 2.25 2.25l3.276-3.276c.256.565.398 1.192.398 1.852Z" />
                     <path stroke-linecap="round" stroke-linejoin="round" d="M4.867 19.125h.008v.008h-.008v-.008Z" />
                  </svg>
               </button>
            </a>
         </div>

      </div>

      <div class="divider divider-primary w-10/12 mx-auto mt-8"></div>

      <div class="flex flex-col items-center mt-5 mb-5 md:flex-row gap-5 md:mt-0 md:mb-0 justify-center md:grow">


         <div class="card w-96 bg-base-200 card-xl drop-shadow-sm">
            <div class="card-body">
               <h2 class="justify-center card-title">Add Recipe</h2>
               <p>Add something new to your collection!</p>
               <div class="justify-center card-actions">
                  <a href="{{ url_for('newrecipe') }}">
                     <button class="btn btn-primary mt-3">New Recipe</button>
                  </a>
               </div>
            </div>
         </div>


         <div class="card w-96 bg-base-200 card-xl drop-shadow-sm">
            <div class="card-body">
               <h2 class="justify-center card-title">Create Plan</h2>
               <p>Generate your weekly mealplan, or create a custom plan.</p>
               <div class="justify-center card-actions">
                  <button class="btn btn-primary mt-3">Plan</button>
               </div>
            </div>
         </div>


         <div class="card w-96 bg-base-200 card-xl drop-shadow-sm">
            <div class="card-body">
               <h2 class="justify-center card-title">Edit Recipes</h2>
               <p>Change something, or remove a recipe</p>
               <div class="justify-center card-actions">
                  <a href="{{ url_for('edit') }}">
                    <button class="btn btn-primary mt-3">Edit</button>
                  </a>
               </div>
            </div>
         </div>


      </div>
   </div>
{% endblock content %}

