<!--Layout.html is the convention name for a base file to inherit from 
in flask.-->

<!DOCTYPE html>
<html lang="en" data-theme="forest">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if pagename %}
            {{pagename}}
        {% else %}
        RecipeBowl
        {% endif %}
        
    </title>

    {% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/output.css') }}">
    {% endblock styles %}

</head>

<body>
    {% block content %}
    {% endblock content %}
</body>

</html>
