{% extends 'layout.html' %}

{% block content %}


    <style>

        @page {
            size: 8.5in, 11in;
            margin: 1in;
        }


        @media print{

            .pg-break {
                break-after: page;
            }

            *{
                background-color: white;
                color: black;
            }
        }

    </style>


<!--MENU-->
<div class="flex flex-col justify-center">
    <div class="mt-5 text-center">
        <h1 class="font-bold text-7xl">Menu</h1>
    </div>
    <div class="divider divider-primary w-10/12 mx-auto mt-8"></div>
    
    {%  if recipe_table  %}
        <div id="recipe-names" class="flex flex-col gap-12 mt-10 justify-center text-center font-bold text-4xl">
            {% for item in recipe_table %}
                <h2>{{ recipe_table[item]['name']}}</h2>
            {% endfor %}
        </div>
    {% endif %}
</div>

<div class="pg-break"></div>

<div class="flex flex-col justify-center">
    <div class="mt-5 text-center">
        <h1 class="font-bold text-7xl">Shopping</h1>
    </div>

    <div class="divider divider-primary w-10/12 mx-auto mt-8"></div>

    {% if combined_ingredients %}
        <div class="grid grid-cols-3 gap-y-10 justify-center text-center font-bold text-2xl">
            {% for id in combined_ingredients %}
                <div>
                    <h2>{{ combined_ingredients[id]['name'] }}</h2>
                    <div class="flex flex-row flex-wrap justify-center">
                        {% for item in combined_ingredients[id]['qty'] %}
                            <p>{{item}}{% if not loop.last %},&nbsp;{% endif %}</p>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock content %}